*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.image {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Times New Roman', Times, serif;
    background:black;
    background-image: url('/static/images/burger.png');
    background-size: cover;
    height: 100vh;
}
a{
    text-decoration:none;
    text-transform:capitalize;
    color:#9D6C1B;
    font-size:.8rem;
}
a:hover,a:focus {
    color:#DB9314;
}

.login-form{
    width:500px;
    background:#141414c2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    padding:1rem;
    box-shadow:2px 7px 8px rgba(0,0,0,.3);
    border-radius:3px;
    color:white;
}
.title{
    margin-bottom:1rem;
}
.input-field {
    width:100%;
    padding:0;
    margin:0;
}
.input-field input {
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color: #7C848C;
    border-bottom:1px solid #9D6C1B;
    padding:.1rem;
}
.input-field input:focus {
    border-color: #DB9314;
}

.input {
    display:flex;
    font-size:.9rem;
}
input[type="checkbox"]{
    background:transparent;
    padding:1rem;
}
.terms {
    font-size:.7rem;
    margin-top:1rem;
    padding: 0 3rem;
}
.terms strong{
    text-decoration:underline;
    cursor:pointer;
}
.btn {
    padding:.7rem;
    border:none;
    border-radius:3px;
    font-size:1rem;
    font-weight:bold;
    outline:none;
    cursor:pointer;
    text-transform:capitalize;
    transition:.2s ease-in-out;
    filter:brightness(1);
}
.login {
    background:#DB9314;
    
}
.create{
    width:100%;
    font-weight:normal;
    background-color: white;

}
.btn:hover {
    filter: brightness(.8);
    box-shadow: 2px 5px 8px rgba(0,0,0,.2);
/*   color:#ccc; */
}
.user{
    
    text-align: center;
}
.user p{
    padding-bottom:.5rem;
    font-size:.8rem;
}

@media screen and (max-width:500px){
.login-form{
    width:calc(70% - 1rem);
    margin:1rem;
}
.terms{
    padding:0;
}
}
@media screen and (max-width:350px){
.login-form{
    width:calc(60% - 1rem);
    margin:1rem;
}
.terms{
    padding:0;
}
}

.container,.main{
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* navbar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    width: 20vw;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    margin: 1vh;
}



i:hover{
    color: #e4950d;
}



i:hover {
    font-size: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}
span{
    color: #e4950d;
}

h1{
    font-size: 18rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.carousel-control-prev span.carousel-control-prev-icon,
.carousel-control-next span.carousel-control-next-icon {
    background-color: rgb(247, 184, 12);
    color: black;
}

.follows i{
    padding-bottom:2px;
    color: white;
}
.kay h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #e4950d;
    font-weight: bold;
    margin-top: -45%;
    font-size: 2rem;
}

hr{
    border: 2px solid rgb(248, 142, 5);
    width: 30%;
    margin-left: auto;
}

.kay p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    margin-left: 10%;
}
.kay a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 10%;
}

.kay .share{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20%;
}

.container ,.profile{
    width: 400px;
    height: 40vh;
    background-color: rgb(10, 10, 10);
    margin-top: 15%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
