<header>
    <nav class="navbar">
        <img src="https://cdn-icons-png.flaticon.com/128/2674/2674087.png" alt="" width="40px">
        <ul class="menu" id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="navigation-icons ">
            <a href="" class="navigation-link ">
            <i class="fas fa-shopping-cart"></i>
        </a>
            <a href="" id="" class="navigation-link">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="" id="signout" class="navigation-link">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
    </nav>
</header>