<nav>
        <div class="logo">
            <h2> Kate's <span>Burger</span></h2>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="">Menu</a>
            <a href="">Services</a>
            <a href="">Contact</a>
        </div>
        {% if user.is_authenticated %}
        <div class="links">
            <a href=""><i class="fas fa-shopping-cart"></i></a>
            <a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a href="{% url 'logout' %}" id="signout" class="navigation-link">
            <i class="fas fa-sign-out-alt"></i>
        </a>
        {% else %}
            <a href="{% url 'login' %}"> <i class="fa fa-sign-in" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </nav>